

<% i = 0 %>

  <div class="section">


<div class="row">
      <%= link_to "Create an event", new_event_url,data: { turbolinks: false } , class: "waves-effect waves-light btn right"%>

      <div>
    <h5 class="center-align">Evenement (<%= @event.count%>)</h5>
  </div>

<% @event.each do |e| %>
  <div class="col m3">
    <div class="card">
      <div class="card-image">
        <img src="https://i.picsum.photos/id/337/300/150.jpg">
      <div class="card-content">
        <p style="color: #ff7043;"><%= e.start %></p>
          <%= link_to e.title, event_path(e.id)%>
        <p><small><%= e.location%></small></p>
      </div>
    </div>
  </div>
</div>
<% end %>

  </div>
