<h1 style="text-align:center;"><%= @event.title%></h1>
<h4 style="text-align:center;"><%= @event.location%></h4>
<h4 style="text-align:center;"><%= @event.start%></h4>
<h4 style="text-align:center;"><%= @end%></h4>
<h4 style="text-align:center;"><%= @event.duration%> min</h4>
<h4 style="text-align:center;"><%= @user.email%> </h4>



<article>

</article>

  <div class="row">
    <div class="col s12 ">
      <div class="card">
        <div class="card-image">
          <img src="https://i.picsum.photos/id/800/600/200.jpg">
          <span class="card-title">Card Title</span>
          <%if @attend%>
                      <a class="btn-floating halfway-fab waves-effect waves-light  green"><i class="material-icons">check</i></a>
          <% else %>
                      <%= link_to '<i class="material-icons">add</i>'.html_safe, new_event_attendance_path(params[:id]), class: "btn-floating halfway-fab waves-effect waves-light red" %>

          <% end %>
        </div>
        <div class="card-content">
          <%= raw @content%>
        </div>
      </div>
    </div>
  </div>